In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
##Read the data set to python
data=pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [4]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# Carry out descriptive analytics on the dataset.

28 rows and 3 columns

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [6]:
## To check data set is clean
data.isna().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [7]:
## statistical summary 
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [12]:
data.groupby('Gender').count()

        Test preparation  Total Marks
Gender
female                16           16
male                  12           12

In [8]:
data.groupby('Gender').mean()

        Total Marks
Gender
female    33.750000
male      30.416667

# Check whether female and male students scored the same marks.

H0:Null Hypothesis- female students scored more marks than male

H1:Alternate Hypothesis-female students scored less  marks than male

In [25]:
female_data=data[data['Gender']=='female']
female=female_data['Total Marks']
female

1     28
2     18
3     48
4     21
5     40
7     12
14    41
15    13
16    48
17    45
22    41
23    27
24    27
25    38
26    50
27    43
Name: Total Marks, dtype: int64

In [26]:
male_data=data[data['Gender']=='male']

In [27]:
male =male_data['Total Marks']
male

0     14
6     30
8     18
9     24
10    44
11    23
12    43
13    28
18    47
19    36
20    14
21    44
Name: Total Marks, dtype: int64

In [32]:
import scipy
tvalue, pvalue = scipy.stats.ttest_ind(female,male,alternative='greater')
print('tvalue=',tvalue)
print('pvalue=',pvalue)

tvalue= 0.6940885268848668
pvalue= 0.24689111589803814

In [49]:
if pvalue <0.05:
    print('Reject null hypothesis')
else:
    print('Reject Alternate Hypothesis')

Reject null hypothesis

Therefore female students scored more marks than male

# Whether test preparation helps the students?

Null Hypothesis(H0):Test preparation helps the students
Alternate hypothesis(H1):Test preparation doesn't help the students

In [37]:
test_prepared=data[data['Test preparation']=='completed']
test_prepared

    Gender Test preparation  Total Marks
5   female        completed           40
10    male        completed           44
12    male        completed           43
16  female        completed           48
21    male        completed           44
26  female        completed           50
27  female        completed           43

In [39]:
test_prepared1=test_prepared['Total Marks']
test_prepared1

5     40
10    44
12    43
16    48
21    44
26    50
27    43
Name: Total Marks, dtype: int64

In [40]:
test_notprepared=data[data['Test preparation']=='none']
test_notprepared

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
11    male             none           23
13    male             none           28
14  female             none           41
15  female             none           13
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38

In [41]:
test_notprepared1 = test_notprepared['Total Marks']
test_notprepared1

0     14
1     28
2     18
3     48
4     21
6     30
7     12
8     18
9     24
11    23
13    28
14    41
15    13
17    45
18    47
19    36
20    14
22    41
23    27
24    27
25    38
Name: Total Marks, dtype: int64

In [43]:
tvalue, pvalue = scipy.stats.ttest_ind(test_prepared1,test_notprepared1,alternative = 'greater')
print('tvalue=',tvalue)
print('pvalue=',pvalue)

tvalue= 3.6143637527769217
pvalue= 0.0006335646228660053

In [46]:
if pvalue <0.05:
    print('Reject Null hypothesis(H0):Test preparation helps the students')
else:
    print('Reject Alternate Hypothesis(H1):Test preparation doesnt helps the students ')

Reject Null hypothesis(H0):Test preparation helps the students

Test preparation didn't help the students